<!DOCTYPE html>
<html>
<head>
    <style>

        #pic_list
        {
            display:block;
            white-space:nowrap;
            width:500px;
            overflow:auto;
        }
        #pic_list li
        {
            width:80px;
            height:80px;
            margin:3px;
            background:red;
            display:inline-block;
        }
    </style>

</head>
<div id="pic_list">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>